/* aca hay estilos basicos raiz, cuerpo, barra de navegacion, titulos, listas, parrafos, etc.

--modifica, elimina o agrega estilos que quieras para cambiar el aspecto de la web,

--todos estos estilos hacen cambios directos en la estructura de la web

--cada comando comienza con nombrar primero la parte de la web que queremos modificar, ejemplo
--navbar-- seguido de llave abierta --{-- --Estilo o codigo-- cerramos el comando con comillas --;-- 
y luego cerramos la llave } .

-- las clases --class-- empiezan con un -- . --
-- los aidi's --id-- empiezan con un -- # -- 
-- y los principales como por ejemplo --nav-- no necesitan etiqueta anterior . o # solo se coloca el --nav--

los estilos configurados en un --id-- tienen prioridad por encima de una --clase-- asi sean el
mismo elemento igualmente se le añade la etiqueta !important despues del comando para priorizar 
el estilo que queramos tome */




* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}




/* ejemplo, aca esta el cuerpo de la web, el fondo que esta detras de el navbar el footer y 
las cartas con imagenes y contenido de la web.

-- aca en el body nos aseguramos de hacer que todas las paredes del contenedor --body-- esten pegadas a los laterales
horizontales derecha e izquiera con el --min-width: auto;--, el contenedor principal del body se adapta 
automaticamente al tamaño de la pantalla.

--para  crear el efecto limpio entre contenedores, quitamos los margenes y rellenos que traen los
contenedores por defecto  con el --margin-- y --padding: 0;-- esto es una medida global que se le aplica a 
todas las esquinas de cada contenedor en este caso --body-- 

-- con el --background-color: ;-- le damos el color que queremos al contenedor --body--*/
body {
   min-width: auto;
   padding: 0;
   margin: 0;
   background-color: #22272E;
}



/* aca en el nav o navegacion (toda la barra de navegacion) especificamos que tipografia queremos usar y 
la configuramos con los comandos --font-- que vemos y le damos un color de backgound con efecto 
--linear-grandient-- hacemos una combinacion de 2 colores rgba y 1 hex en 3 etapas, y colocamos la linea
 amarilla en el borde debajo de la barra de navegacion con --border-bottom-- le damos una base solida
le agregamos el color amarilloCAT en codigo hex y le damos 2 pixeles de tamaño   */
nav {
   font-family: "Chakra Petch", sans-serif;
   font-weight: 500;
   font-style: normal;
   background: rgb(34, 39, 46);
   background: linear-gradient(0deg, rgba(34, 39, 46, 1) 0%, rgba(34, 39, 46, 1) 28%, #2E2725 100%);
   border-bottom: solid #FFC300 2px;

}

/* aca logramos hacer que el menu principal superior (sobrenosotros y entrarencontacto) se pongan en modo
flexibles luego le decimos que permanezca al final de nuestro nav y luego hacemos que el texto desaparezca
con el @mediaquery de abajo. dice que a los 870px de pantalla desaparezcan los dos textos y solo queden
los iconos */
.navegacion-principal {
   display: flex;
   justify-content: end;
}

@media (max-width: 870px) {

   .texto-ec,
   .texto-sn {
      display: none;

   }

}

/* aca modificamos todos los parrafos de la web un poco mas de lo mismo 

-- aca usamos --text-shadow-- es para darle un sombreado oscuro detras de las letras a cada parrafo*/
p {

   font-size: 17px;
   text-align: center;
   font-family: "Chakra Petch", sans-serif;
   font-weight: 500;
   font-style: normal;
   color: #d3d3d3;
   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* aca mas de lo mismo pero a los titulos --h2 h6h5h3-- que fueron los tamaños que usamos */
h2 {
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h6,
h5,
h3 {
   font-family: "Chakra Petch", sans-serif;
   font-weight: 500;
   font-style: normal;
   color: #d3d3d3;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


/* esta es la flechita que tiene al lado cada categoria del tablero o --tabs-- (instrumentacion, obras civiles
electricas, mecanicas) le especificamos unicamente que queremos que sea de color amarilloCAT */
.flechita {
   color: #FFC300;
}


/* esta es la "&" que tiene entre el titulo del sitio, en este caso se especifico que fuera un poco mas pequeña 
que el tamaño del titulo de la web (detalle) */
.ydeltitulo {
   font-size: 25px;
}



/* aca configuramos la apariencia y estructura de nuestra carta principal (nuestro.equipo.html),
 le damos color de fondo y un poco de relleno superior para separar, (esto es la solo la parte superior
 de la carta).*/
.card {
   background-color: #22272E;
   padding-top: 3px;
}

/* aca empieza el contenido de nuestra carta, (el centro de la carta donde aparece texto
e imagenes) solo le agregue el color de fondo */
.card-content {

   background-color: #22272E;
}

/* aca se le coloca un detalle amarilloCAT en el centro inferior de cada parrafo en nuestra carta */
.card-content p::after,
.card-image h6::after {
   content: "";
   display: block;
   width: 50%;
   margin: 0 auto;
   height: 3px;
   background-color: #FFC300;
   margin-top: 15px;
   margin-bottom: 15px;
}

/* estos son dos "id's" --id-- --#card-img1 #card-img2-- los uso para dar estilo especifico a cada 
imagen por separado, lo que hago es darle un id para poder especificar a cual de las 2 imagenes quiero
dar un estilo especifico, por que si solo colocara .img le cambiaria el tamaño o margenes a todas las
imgenes de la web */
#card-img1 {
   margin-bottom: 25px;
   margin-top: 25px;
   border-radius: 7px;
}

#card-img2 {
   margin-top: 15px;
   border-radius: 7px;
}

/* un poco mas de lo mismo que usamos en la configuracion de --nav-- un fondo --lineargrandient--
para que el footer de la web combine con el nav lo que hice fue invertir el degradado del nav y quedó
perfecto para el footer ya que son los mismos colores solo que invertidos en posicion, tambien se agrega
un borde en la parte de arriba con tamaño 1px solido y amarilloCAT (detalle) */
.page-footer {

   background: rgb(34, 39, 46);
   background: linear-gradient(180deg, rgba(34, 39, 46, 1) 0%, rgba(34, 39, 46, 1) 28%, #2E2725 100%);
   border-top: solid #FFC300 1px;
   font-family: "Chakra Petch", sans-serif;
   font-weight: 400;
}






/* estilos y configuraciones del tablero --tabs-- (instrumentacion, obrasciviles, electricas, mecanicas) */
.tab {
   padding: 10px 10px;


}

.tabs {
   font-family: "Chakra Petch", sans-serif;
   font-weight: 500;
   font-style: normal;

   display: flex;
   justify-content: center;
   align-items: center;

}

/* esto es el detalle que tiene al pasar el mouse por encima de cualquier tab, es un borde en la parte 
superior de cada tab, el border radius es para curvear un poco las esquinas del borde*/
.tab:hover {
   border-top: 1px solid #FFC300;

   border-radius: 2px;

}

/* esto es para aumentar el tamaño en altura o height de la casilla "mensaje" al escribir un mensaje largo
 en el formulario de contacto */
.expanded-textarea {
   height: 400px;
}

/* pequeño ajuste de espacio/margenes en el titulo de cada slider
le dimos 20px a la parte superior de los titulos y 5px de margen en la parte inferior */
.titulo-sliders {
   margin-top: 20px;
   margin-bottom: 5px;
}

/* explicacion boton volver al inicio, aca lo que se hace es usar --display:none;-- ocultar ese ancla --a--
que pusimos encima de nuestro --nav-- en la parte superior de la pagina, ocultarlo solo significa
que no se muestra pero la accion permanece en ese lugar de la web para luego podamos llamarla y la 
pagina scrolee hacia arriba buscando el link --#top--  */
#scrollToTop {
   display: none;
}

/* esto es la configuracion que le ponemos a ese boton al final de las paginas, --display:flex;--
para hacer que sea flexible luego --justify-content: center; y align-items: center;-- para alinearlo
en el centro horizontal y verticalmente, luego --margin-bottom-- negativo en -9px para hacer que se pegue
del borde superior del footer (detalle) */
#volver-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: -9px;
}


/* esto es literal eso */
#titulo-logo {
   font-family: "Chakra Petch", sans-serif;
   font-weight: 500;
   font-style: normal;

}

/* esto lo usamos para darle un poquito de margen izquierdo al titulo (detalle) */
#titulo-logo2 {
   margin-left: 20px;
}

/* con esto cambiamos el color de todos los iconos de la libreria materialize que tiene la web amarilloCAT */
.material-icons {
   color: #FFC300;
}

/* aca intentamos que el titulo se muestre completo cuando lo miras en desktop y se acorte cuando
se ve en pantallas mas pequeñas, uno se tiene que mostrar y el otro se tiene que ocultar */
.full-title {
   display: block;
}

.abbr-title {
   display: none;
}

/* esto es el mediaquery para hacer que funcione lo que mencione arriba, esto hace que
cuando este la pantalla por encima de 1050px en horizontal muestre el titulo completo, y que 
cuando este en menos de 1050px oculte el titulo con --display:none;-- y muestre el corto.  */
@media (max-width: 1050px) {
   #titulo-logo {
      text-align: center;
   }

   .full-title {
      display: none;
   }

   .abbr-title {
      display: block;
      font-size: 32px;
      font-weight: bold;
      color: #ffff;
   }
}



.status-indicator {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   display: inline-block;
   margin-left: 10px;
   vertical-align: middle;
 }
 .status-open {
   background-color: #00ff00;
   box-shadow: 0 0 10px #00ff00;
   color: #00ff00;
 }
 .status-closed {
   background-color: #ff0000;
   color: #ff0000;
 }

 .led-banner {
   display: inline;
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   background: rgba(63, 60, 60, 0.7);
   overflow: hidden;
 }
 
 .led-text {
   font-family: 'LED', "Chakra Petch", sans-serif;
   color: #FFC300;
   white-space: nowrap;
   padding-left: 100%;
   animation: move-text 25s linear infinite;
   font-size: 15px;
 }
 
 @keyframes move-text {
   0%   { transform: translate(0, 0); }
   100% { transform: translate(-100%, 0); }
 }















/* en esta marca empiezan los 4 sliders css que tenemos en la web */


/* --Sliderx1 E obras Electricas-- es preferible no modificar ninguno de los sliders ya que vienen hechos a 
medida y se pueden romper, lo que si se puede modificar es cada imagen, titulo o parrafo que
 muestra cada imagen ver mas abajo */
#slider {
   margin: 5px auto;
   width: 1000px;
   max-width: 100%;
   text-align: center;
}

#slider input[type=radio] {
   display: none;
}

#slider label {
   cursor: pointer;
   text-decoration: none;
}

#slides {
   padding: 10px;

   background: #2E2725;
   position: relative;
   z-index: 1;
   border-radius: 5px;
}

#overflow {
   width: 100%;
   overflow: hidden;
}

#slide1:checked~#slides .inner {
   margin-left: 0;
}

#slide2:checked~#slides .inner {
   margin-left: -100%;
}

#slide3:checked~#slides .inner {
   margin-left: -200%;
}

#slide4:checked~#slides .inner {
   margin-left: -300%;
}

#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 322px;
}

#slides .slide {
   width: 25%;
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}








/* aca puedes cambiar las 4 imagenes del slider "slide_1 slide_2 slide_3 slide_4", en 
background: url(solo cambiamos la ruta de la imagen por la que queremos poner y listo, 
el titulo y texto se cambian en el html en este caso obras.electricas.html) 

-- background-position: top;-- en este caso lo usamos para que haga focus a la parte superior de esa imagen
y el --background-size: cover;-- lo usamos para que la imagen cubra todo el contenedor donde la metimos.*/
#slides .slide_1 {
   background: url(./imagenes/e4d245bd-eb64-4a12-81e6-30574bc1fe5e.jfif) no-repeat center center fixed;

   background-position: top;
   background-size: cover;

}

#slides .slide_2 {
   background: url(./imagenes/8142d7c0-4e70-4be1-a780-7feb15e78874.jfif) no-repeat center center fixed;

   background-position: bottom;
   background-size: cover;
}

#slides .slide_3 {
   background: url(./imagenes//13f35b88-3f2c-4059-8636-75c3d4512a49.jfif) no-repeat center center fixed;

   background-position: center;
   background-size: cover;
}

#slides .slide_4 {
   background: url(./imagenes/34173f6b-9395-4e24-8396-c0eb91334f3d.jfif) no-repeat center center fixed;

   background-position: center;
   background-size: cover;
}

#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}

#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}

#controls label:hover {
   opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float: right;
   margin: 0 -50px 0 0;
   display: block;
}

#slide1:checked~#controls label:nth-last-child(2),
#slide2:checked~#controls label:nth-last-child(3),
#slide3:checked~#controls label:nth-last-child(4),
#slide4:checked~#controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float: left;
   margin: 0 0 0 -50px;
   display: block;
}

#bullets {
   margin: 150px 0 0;
   text-align: center;
}

#bullets label {
   display: inline-block;
   width: 15px;
   height: 15px;
   border-radius: 100%;
   background: #FFC300;
   margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
   background: #2E2725;
}

@media screen and (max-width: 900px) {

   #slide1:checked~#controls label:nth-child(2),
   #slide2:checked~#controls label:nth-child(3),
   #slide3:checked~#controls label:nth-child(4),
   #slide4:checked~#controls label:nth-child(1),
   #slide1:checked~#controls label:nth-last-child(2),
   #slide2:checked~#controls label:nth-last-child(3),
   #slide3:checked~#controls label:nth-last-child(4),
   #slide4:checked~#controls label:nth-last-child(1) {
      margin: 0;
   }

   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}







/* -- Sliderx2 OC  este slider pertenece a OBRAS CIVILES es lo mismo que el anterior solo que modificado
para que no haga conflicto con el slider anterior, abajo para modificar las imagenes de este slider*/

#slideroc {
   margin: 5px auto;
   width: 1000px;
   max-width: 100%;
   text-align: center;
}

#slideroc input[type=radio] {
   display: none;
}

#slideroc label {
   cursor: pointer;
   text-decoration: none;
}

#slidesoc {
   padding: 10px;

   background: #2E2725;
   position: relative;
   z-index: 1;
   border-radius: 5px;
}

#overflowoc {
   width: 100%;
   overflow: hidden;
}

#slide1:checked~#slidesoc .inner {
   margin-left: 0;
}

#slide2:checked~#slidesoc .inner {
   margin-left: -100%;
}

#slide3:checked~#slidesoc .inner {
   margin-left: -200%;
}

#slide4:checked~#slidesoc .inner {
   margin-left: -300%;
}

#slidesoc .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 322px;
}

#slidesoc .slide {
   width: 25%;
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}








/* aca modificamos la imagenes de la pagina obras.civiles.html de la misma manera */
#slidesoc .slide_1 {
   background: url(./imagenes/1a34227f-1b8d-4432-a9de-ec6e30db63a1.jfif) no-repeat center center fixed;

   background-position: top;
   background-size: cover;

}

#slidesoc .slide_2 {
   background: url(./imagenes/9436bab2-f02f-4bc5-9cb0-080c8ce1f0c4.jfif) no-repeat center center fixed;

   background-position: center;
   background-size: cover;
}

#slidesoc .slide_3 {
   background: url(./imagenes/7f3c0cc4-55f6-4b14-be02-70eda493b3bb.jfif) no-repeat center center fixed;

   background-position: center;
   background-size: cover;
}

#slidesoc .slide_4 {
   background: url(./imagenes/4fde3238-02da-4eaf-b732-253239127745.jfif) no-repeat center center fixed;

   background-position: center;
   background-size: cover;
}

#controlsoc {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}

#controlsoc label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}

#controlsoc label:hover {
   opacity: 1;
}

#slide1:checked~#controlsoc label:nth-child(2),
#slide2:checked~#controlsoc label:nth-child(3),
#slide3:checked~#controlsoc label:nth-child(4),
#slide4:checked~#controlsoc label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float: right;
   margin: 0 -50px 0 0;
   display: block;
}

#slide1:checked~#controlsoc label:nth-last-child(2),
#slide2:checked~#controlsoc label:nth-last-child(3),
#slide3:checked~#controlsoc label:nth-last-child(4),
#slide4:checked~#controlsoc label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float: left;
   margin: 0 0 0 -50px;
   display: block;
}

#bulletsoc {
   margin: 150px 0 0;
   text-align: center;
}

#bulletsoc label {
   display: inline-block;
   width: 15px;
   height: 15px;
   border-radius: 100%;
   background: #FFC300;
   margin: 0 10px;
}

#slide1:checked~#bulletsoc label:nth-child(1),
#slide2:checked~#bulletsoc label:nth-child(2),
#slide3:checked~#bulletsoc label:nth-child(3),
#slide4:checked~#bulletsoc label:nth-child(4) {
   background: #2E2725;
}

@media screen and (max-width: 900px) {

   #slide1:checked~#controlsoc label:nth-child(2),
   #slide2:checked~#controlsoc label:nth-child(3),
   #slide3:checked~#controlsoc label:nth-child(4),
   #slide4:checked~#controlsoc label:nth-child(1),
   #slide1:checked~#controlsoc label:nth-last-child(2),
   #slide2:checked~#controlsoc label:nth-last-child(3),
   #slide3:checked~#controlsoc label:nth-last-child(4),
   #slide4:checked~#controlsoc label:nth-last-child(1) {
      margin: 0;
   }

   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}












/* Sliderx3 M  este slider pertenece a la pagina MECANICAS obras.mecanicas.html modificamos imagenes abajo */
#sliderm {
   margin: 5px auto;
   width: 1000px;
   max-width: 100%;
   text-align: center;
}

#sliderm input[type=radio] {
   display: none;
}

#sliderm label {
   cursor: pointer;
   text-decoration: none;
}

#slidesm {
   padding: 10px;

   background: #2E2725;
   position: relative;
   z-index: 1;
   border-radius: 5px;
}

#overflowm {
   width: 100%;
   overflow: hidden;
}

#slide1:checked~#slidesm .inner {
   margin-left: 0;
}

#slide2:checked~#slidesm .inner {
   margin-left: -100%;
}

#slide3:checked~#slidesm .inner {
   margin-left: -200%;
}

#slide4:checked~#slidesm .inner {
   margin-left: -300%;
}

#slidesm .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 322px;
}

#slidesm .slide {
   width: 25%;
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}






/* aca modificamos las imagenes de slider pagina obras mecanicas mismo metodo */
#slidesm .slide_1 {
   background: url(./imagenes/d0a961db-7bb1-44f9-b723-66728ad49bd5.jfif) no-repeat center center fixed;

   background-position: top;
   background-size: cover;

}

#slidesm .slide_2 {
   background: url(./imagenes/96c551fa-c429-4a9f-956b-a2cd14b07671.jfif) no-repeat center center fixed;

   background-position: top;
   background-size: cover;
}

#slidesm .slide_3 {
   background: url(./imagenes/ab613514-c204-47d2-9316-2371f95b6196.jfif) no-repeat center center fixed;

   background-position: top;
   background-size: cover;
}

#slidesm .slide_4 {
   background: url(./imagenes/71ad6739-e784-437d-83dc-bc20cedb8ecc.jfif) no-repeat center center fixed;

   background-position: top;
   background-size: cover;
}

#controlsm {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}

#controlsm label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}

#controlsm label:hover {
   opacity: 1;
}

#slide1:checked~#controlsm label:nth-child(2),
#slide2:checked~#controlsm label:nth-child(3),
#slide3:checked~#controlsm label:nth-child(4),
#slide4:checked~#controlsm label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float: right;
   margin: 0 -50px 0 0;
   display: block;
}

#slide1:checked~#controlsm label:nth-last-child(2),
#slide2:checked~#controlsm label:nth-last-child(3),
#slide3:checked~#controlsm label:nth-last-child(4),
#slide4:checked~#controlsm label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float: left;
   margin: 0 0 0 -50px;
   display: block;
}

#bulletsm {
   margin: 150px 0 0;
   text-align: center;
}

#bulletsm label {
   display: inline-block;
   width: 15px;
   height: 15px;
   border-radius: 100%;
   background: #FFC300;
   margin: 0 10px;
}

#slide1:checked~#bulletsm label:nth-child(1),
#slide2:checked~#bulletsm label:nth-child(2),
#slide3:checked~#bulletsm label:nth-child(3),
#slide4:checked~#bulletsm label:nth-child(4) {
   background: #2E2725;
}

@media screen and (max-width: 900px) {

   #slide1:checked~#controlsm label:nth-child(2),
   #slide2:checked~#controlsm label:nth-child(3),
   #slide3:checked~#controlsm label:nth-child(4),
   #slide4:checked~#controlsm label:nth-child(1),
   #slide1:checked~#controlsm label:nth-last-child(2),
   #slide2:checked~#controlsm label:nth-last-child(3),
   #slide3:checked~#controlsm label:nth-last-child(4),
   #slide4:checked~#controlsm label:nth-last-child(1) {
      margin: 0;
   }

   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}













/* Sliderx4 I este slider es el de la pagina instrumentacion.html*/

#slideri {
   margin: 5px auto;
   width: 1000px;
   max-width: 100%;
   text-align: center;
}

#slideri input[type=radio] {
   display: none;
}

#slideri label {
   cursor: pointer;
   text-decoration: none;
}

#slidesi {
   padding: 10px;

   background: #2E2725;
   position: relative;
   z-index: 1;
   border-radius: 5px;
}

#overflowi {
   width: 100%;
   overflow: hidden;
}

#slide1:checked~#slidesi .inner {
   margin-left: 0;
}

#slide2:checked~#slidesi .inner {
   margin-left: -100%;
}

#slide3:checked~#slidesi .inner {
   margin-left: -200%;
}

#slide4:checked~#slidesi .inner {
   margin-left: -300%;
}

#slidesi .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 322px;
}

#slidesi .slide {
   width: 25%;
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}







/* modificamos imagenes de slider pagina INSTRUMENTACION */
#slidesi .slide_1 {
   background: url(./imagenes/2c6360b5-8e56-4c5e-aa91-88e385e3167a.jfif) no-repeat center center fixed;

   background-position: center;
   background-size: cover;

}

#slidesi .slide_2 {
   background: url(./imagenes/1a34227f-1b8d-4432-a9de-ec6e30db63a1.jfif) no-repeat center center fixed;

   background-position: bottom;
   background-size: cover;
}

#slidesi .slide_3 {
   background: url(./imagenes/acfd83c8-fd32-4d83-90a4-88198841ff44.jfif) no-repeat center center fixed;

   background-position: center;
   background-size: cover;
}

#slidesi .slide_4 {
   background: url(./imagenes/8142d7c0-4e70-4be1-a780-7feb15e78874.jfif) no-repeat center center fixed;

   background-position: top;
   background-size: cover;
}

#controlsi {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}

#controlsi label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}

#controlsi label:hover {
   opacity: 1;
}

#slide1:checked~#controlsi label:nth-child(2),
#slide2:checked~#controlsi label:nth-child(3),
#slide3:checked~#controlsi label:nth-child(4),
#slide4:checked~#controlsi label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float: right;
   margin: 0 -50px 0 0;
   display: block;
}

#slide1:checked~#controlsi label:nth-last-child(2),
#slide2:checked~#controlsi label:nth-last-child(3),
#slide3:checked~#controlsi label:nth-last-child(4),
#slide4:checked~#controlsi label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float: left;
   margin: 0 0 0 -50px;
   display: block;
}

#bulletsi {
   margin: 150px 0 0;
   text-align: center;
}

#bulletsi label {
   display: inline-block;
   width: 15px;
   height: 15px;
   border-radius: 100%;
   background: #FFC300;
   margin: 0 10px;
}

#slide1:checked~#bulletsi label:nth-child(1),
#slide2:checked~#bulletsi label:nth-child(2),
#slide3:checked~#bulletsi label:nth-child(3),
#slide4:checked~#bulletsi label:nth-child(4) {
   background: #2E2725;
}

@media screen and (max-width: 900px) {

   #slide1:checked~#controlsi label:nth-child(2),
   #slide2:checked~#controlsi label:nth-child(3),
   #slide3:checked~#controlsi label:nth-child(4),
   #slide4:checked~#controlsi label:nth-child(1),
   #slide1:checked~#controlsi label:nth-last-child(2),
   #slide2:checked~#controlsi label:nth-last-child(3),
   #slide3:checked~#controlsi label:nth-last-child(4),
   #slide4:checked~#controlsi label:nth-last-child(1) {
      margin: 0;
   }

   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}

/* aca termina el codigo de los 4 sliders */